  {{#if user}}
    <h1 style="color: black">Welcome, {{user.username}}!</h1>
    <p><a href="/profile">View Your Profile</a></p>
    <p><a href="/logout">Log Out</a></p>
  {{else}}
    <h3 style="color: red">You are not cheese in</h3>
    <a href="/login">Log In</a>
  {{/if}}



<hr />

  {{#each users}}
    <p>
      <strong>ID: </strong> {{this.id}} | <strong>User: </strong>{{this.username}} | <strong>password: </strong>{{this.password}} | <strong>Created: </strong> {{this.createdAt}}
      <button id="{{this.id}}" data-js="{{this.id}}" class="js-delete-one-user">Delete</button>
      <button id="edit-button-{{thid.id}}" class="js-edit-button" data-js="{{this.id}}">Edit</button>
    </p>
    <p id="edit-form-{{this.id}}" class="edit-form">
        Edit Username:<input id="edit-username-{{this.id}}" type="text" name="username" value="{{this.username}}"></input>
        Edit Password: <input id="edit-password-{{this.id}}" type="text" name="password" value="{{this.password}}"></input>
        <button id="update{{this.id}}" data-js="{{this.id}}" class="js-update-one-user">Update</button>
    </p>

    <hr />
  {{/each}}



<form action="/api/users" method="POST">
    <h3>Add a user</h3>
    <p>username:<input type="text" name="username"></input></p>
    <p>Password: <input type="text" name="password"></input></p>
    <button type="submit">Submit</button>
</form>

<hr />

<p><button id="delete-all">Delete all users</button></p>

<script src="js/app.js" type="text/javascript"></script>


