<h1>Index Template</h1>

<p>Hello {{name}}</p>

<p><a href="/api/users">API test</a></p>

<hr />

  {{#each users}}
    <p>
      <strong>USER: </strong>Email: {{this.email}}, password: {{this.password}}
      <button id="{{this.id}}" data-js="{{this.id}}" class="js-delete-one-user">DELETE ME</button>
      <button id="edit-button-{{thid.id}}" class="js-edit-button" data-js="{{this.id}}">Edit</button>
    </p>
    <p id="edit-form-{{this.id}}" class="edit-form">
        Edit email:<input id="edit-email-{{this.id}}" type="text" name="email" value="{{this.email}}"></input>
        Edit Password: <input id="edit-password-{{this.id}}" type="text" name="password" value="{{this.password}}"></input>
        <button id="update{{this.id}}" data-js="{{this.id}}" class="js-update-one-user">Update</button>
    </p>

    <hr />
  {{/each}}



<form action="/api/users" method="POST">
    <h3>Add a user</h3>
    <p>email:<input type="text" name="email"></input></p>
    <p>Password: <input type="text" name="password"></input></p>
    <button type="submit">Submit</button>
</form>

<hr />

<button id="delete-all">Delete all users</button>

