<h1>Bands</h1>
{{!--
<li>{{this.name}} at {{this.stage}} on {{this.day}} at {{this.time}}</li> --}}
<div class="ui link cards">
    {{#each bands}}

    <div class="ui card">
        <div class="content">
            <div class="header">{{this.name}} <i class="music icon"></i></div>
        </div>
        <div class="content">
            <h4 class="ui sub header">Details</h4>
            <div class="ui small feed">

                <div class="event">
                    <div class="content">
                        <div class="summary">
                            {{this.stage}} {{this.day}} {{this.time}}
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="extra content">
            {{!-- <button class="ui button green">GOOD</button> --}}
            {{!-- <button class="ui button red">BAD</button> --}}

        </div>
    </div>
    {{/each}}
</div>
